.App {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: url(./image/money.webp);
}
.container{
  padding: 20px;
  border: 1px solid black;
  border-radius: 15px;
  height: 30vh;
  width: 80vw;
  display: grid;
  grid-template-columns:30% 10% 30% 20%;
  grid-template-rows: 33% 33% 33%;
  gap: 5px;
  justify-content: start;
  align-items: center;
  background-color: white;
}
.fromContainer{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  justify-content:flex-start ;  
}
.toContainer{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  justify-content: flex-start;
}
input{
  font-size: x-large;
  text-align: center;
  height: 40px;
  border-radius: 10px;
  background-color: rgb(216, 160, 160);
  width:80%;
  
}
select{
  font-size: 25px;
  border:none;
}
.button{
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  font-size: 300%;
  color: white;
  background-color: rgb(47, 101, 148);
}
.button:hover{
  background-color: rgb(11, 23, 34);
}
.rate{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 100px;
  border: 1px solid rgb(51, 20, 20);
}
.alertContainer{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.7);
}

.alert{
  padding:100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  color: white;
  width : 50%;
  height: 50%;
  border: 1px solid red;
  background-color: rgb(110, 42, 42);


}
.hide{
  display: none;
}